<%- include('./partials/head.ejs'); %>
<section class="sec-intro">
    <div class="content-intro"><img src="/images/sacoorganico.png" alt="" srcset=""></div>
    <div class="content-intro">
        <h1>Bem-vindo!</h1>
        <p>Estamos muito felizes em poder apresentar a você uma ampla variedade de alimentos e suplementos saudáveis e nutritivos, todos feitos com ingredientes de qualidade.</p>
        <p>Acreditamos que o bem-estar começa com a alimentação. Por isso, oferecemos alimentos integrais e orgânicos para ajudar nossos clientes a manter um estilo de vida saudável e equilibrado. Nossos suplementos nutricionais são cuidadosamente formulados para fornecer nutrientes essenciais que podem ser difíceis de obter apenas com a alimentação.</p>
    </div>
</section>
<section class="sec-steps">
    <div class="step">
        <span><i class="fa fa-list-alt" aria-hidden="true"></i> </span>
        <p>Escolha seu produto</p>
    </div>
    <div class="step">
        <span><i class="fa fa-shopping-cart" aria-hidden="true"></i> </span>
        <p>Coloque no carrinho</p>
    </div>
    <div class="step">
        <span><i class="fa fa-money" aria-hidden="true"></i> </span>
        <p>Realize o pagamento</p>
    </div>
    <div class="step">
        <span><i class="fa fa-home" aria-hidden="true"></i> </span>
        <p>Receba em casa</p>
    </div>
</section>
<section class="sec-best-sellers">
    <h1 class="title-sec">Produtos mais vendidos</h1>
    <div class="best-seller"> 
    <div class="best-product">
        <img src="/images/best-products.jpg">
        <span>Produto 1</span>
        <span>R$ 10</span>
    </div>
    <div class="best-product">
        <img src="/images/best-products.jpg">
        <span>Produto 2</span>
        <span>R$ 10</span>
    </div>
    <div class="best-product">
        <img src="/images/best-products.jpg">
        <span>Produto 3</span>
        <span>R$ 10</span>
    </div>
    <div class="best-product">
        <img src="/images/best-products.jpg">
        <span>Produto 4</span>
        <span>R$ 10</span>
    </div>
    </div>
</section>
<section class="sec-best-sellers">
    <h1 class="title-sec">Produtos em promoção</h1>
    <div class="best-seller"> 
    <div class="promotion-product">
        <span class="span-promotion">50%<br> off</span>
        <img src="/images/best-products.jpg">
        <span>Produto 1</span>
        <span>R$ 10</span>
    </div>
    <div class="promotion-product">
        <span class="span-promotion">10%<br> off</span>
        <img src="/images/best-products.jpg">
        <span>Produto 2</span>
        <span>R$ 10</span>
    </div>
    <div class="promotion-product">
        <span class="span-promotion">30%<br> off</span>
        <img src="/images/best-products.jpg">
        <span>Produto 3</span>
        <span>R$ 10</span>
    </div>
    <div class="promotion-product">
        <span class="span-promotion">10%<br> off</span>
        <img src="/images/best-products.jpg">
        <span>Produto 4</span>
        <span>R$ 10</span>
    </div>
    </div>
</section>
<%- include('./partials/footer.ejs'); %>