<%- include('./partials/head.ejs'); %>
<section class="sec-produtos">
    <div class="content-product">
        <h3>Categorias</h3>
    </div>
    <div class="content-product">
        <h2>Produtos</h2>
    </div>
</section>
<%- include('./partials/footer.ejs'); %>