<%- include('./partials/head.ejs'); %>
<section class="sec-contato">
    <h1>Entre em contato</h1>
    <img src="/images/folha.png" alt="">
    <div class='contato-container'>
        <div class="dados-contato">
            <div class="content-dados">
                <i class="fa fa-phone" aria-hidden="true"></i>
                (74) 99928-4867
            </div>
            <div class="content-dados">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                support@example.com
            </div>
            <div class="content-dados">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                Praça Rui Barbosa, nº 72, Mairi-BA
            </div>
        </div>
    </div>
</section>
<%- include('./partials/footer.ejs'); %>