<footer class="main-footer">
    <div class="top-footer">
    <div class="content-top-footer">
        <span>Loja Chá e Companhia</span>
        <p>Nossa loja de produtos naturais oferece uma grande variedade de alimentos saudáveis e suplementos nutricionais. Estamos comprometidos em fornecer produtos de alta qualidade que ajudam a manter um estilo de vida saudável e equilibrado.</p>
    </div>
    <div class="content-top-footer">
        <span>Links rápidos</span>
        <p><a href="http://">Home</a></p>
        <p><a href="http://">Produtos</a></p>
        <p><a href="http://">Blog</a></p>
        <p><a href="http://">Contato</a></p>
    </div>
    <div class="content-top-footer">
        <span>Compra segura</span>
        <p>Faça seu pedido e pague com:</p>
        <img src="/images/formas-pagamento.png" alt="Formas de pagamento">
    </div>
    </div>
    <div class="bottom-footer">
        <div class="content-bottom-footer">
            <a href="https://github.com/Gabrielgqa" target="_blank">Copyright © 2023 | Desenvolvido por Gabriel Almeida</a>
        </div>
        <div class="content-bottom-footer">
            <a href="https://www.instagram.com/chaecompanhiamairi/" target="_blank">Nos siga no instagram <i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>
</body>
</html>