<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700;900&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/contact.css">
    <title>Loja Chá & Companhia</title>
</head>
<body>
    <header class="main-header">
        <div class="container">
        <h1 class="brand">
            <img src="http://flexbox.ninja/assets/images/logo.svg" width="170" height="95" alt="Flexbox.ninja">
        </h1>
        <nav class="main-nav">
            <ul class="main-nav-list">
            <li>
            <a href="/">Home</a>
            </li>
            <li>
                <a href="/produtos">Produtos</a>
            </li>
            <li>
                <a href="#">Quem somos</a>
            </li>
            <li>
                <a href="/contato">Contato</a>
            </li>
            </ul>
        </nav>
        <div class="right-nav">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <a href="/login"><i class="fa fa-user" aria-hidden="true"></i></a>
        </div>
        </div>
    </header>